
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "blog/style.css" %}">
  </head>
  <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
  <a class="navbar-brand" href="#"><img src="{% static "images/logo_new.jpg" %}" class="img-fluid" alt=" image" style="height:40px;width:80px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto"> 
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if 'enrollment' in request.session %}
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Regsiter</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/register/">Register</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/cecform/">CEC Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact us</a>
      </li>
      {% if 'enrollment' in request.session %}
      <li class="nav-item">
        <a class="nav-link" href="/profile/">Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
      </li>
      {% endif %}
    </ul>
     </div>
</nav>

        {% block content %} 
        {% endblock content %}  
    <div class="footer">
      {% block footer %}
     <section  class="footer dark bg-primary fixed-bottom">
      <div class="container py-2 text-white text-center">
        <p>Copyright © 2020 - All contents copyright &copy; M. Sc. (IT), GLS University. All rights reserved.</p>
        <p>Designed and Developed by <b style="color:#000000;">Pranjal Bhimani</b></p>
      </div>
    </section>
    {% endblock footer %}
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>